= table_rows_for(articles, Article) do |t|
  - t.column :ident
  - t.column :custom_single_cell do |value, record, column|
    = "Ident: %s - Title: %s" % [record.ident, record.title]
  - t.column :custom_multiline_cell do |value, record, column|
    = "Ident: %s -" % record.ident
    = " Title: %s" % record.title
  - t.column :custom_single_cell_with_backwards_compatibility do |value, record, column|
    - "Ident: %s" % record.ident
  - t.column :field_with_html_markup, :label => 'field with_html_markup' do |value, record, column|
    = link_to('click me', 'http://nowhere.com')
    %br
    = link_to('and here', 'http://otherwhere.com')